.WeekDay {
  display: block;
  height: 15%;
  width: 100%;

  &__tr {
    display: block;
    width: 100%;
  }

  &__day {
    display: inline-block;
    padding: 1vh 0.3%;
    width: 13.6%;
    text-align: center;
  }
}
