.Date {
  display: inline-block;
  padding-left: 0.3%;
  padding-right: 0.3%;
  width: 13.6%;
  height: 100%;
  text-align: center;
  position: relative;

  &--day {
    color: black;
  }

  &--sun {
    color: red;
  }

  &--sat {
    color: blue;
  }

  &--past {
    opacity: 0.3;
  }

  &--periodSelect {
    background-color: beige;
  }

  &--today {
    color: green;
  }

  &--text {
    width: inherit;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
  }

  &__periodStart {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0%;
    background-color: bisque;
    color: white;
  }

  &__periodEnd {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0%;
    background-color: bisque;
    color: white;
  }
}
