.Date {
  display: inline-block;
  // padding: 0.5vh 0.3% 2vh;
  width: 13.6%;
  text-align: center;

  &_day {
    color: black;
  }

  &__sun {
    color: red;
  }

  &__sat {
    color: blue;
  }

  &__past {
    opacity: 0.3;
  }

  &__text {
    width: 0.6%;
    height: 2vh;
    padding-top: 0.5vh;
  }
}
