.CalendarHead {
  width: 87%;
  padding: 0px 20px;
  height: 20%;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
}
