$primary-color: #02becf;
$secondary-color: #ccf2f5;
$holiday-color: #f2412c;
$saturday-color: #4836d1;
$background-color: #ffffff;
$font-color: #000000;
$today-color: #00bc07;
$border-color: #444444;
$selected-font-color: #ffffff;
