.Date {
  display: inline-block;
  padding-left: 0.3%;
  padding-right: 0.3%;
  width: 13.6%;
  height: 100%;
  text-align: center;
  position: relative;
  font-weight: bold;

  &--day {
    color: $font-color;
  }
  &--sun {
    color: $holiday-color;
  }
  &--sat {
    color: $saturday-color;
  }
  &--past {
    opacity: 0.3;
  }
  &--notThisMonth {
    display: none;
  }
  &--today {
    color: $today-color;
  }
  &--text {
    width: inherit;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    font-size: 80%;
  }
  &__periodSelect {
    background-color: $secondary-color;
    z-index: 100;
  }

  @mixin periodPoint {
    z-index: 101;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
  }

  &__periodStart {
    @include periodPoint();
    background: url(../../Styles/assets/start-period.png) no-repeat;
    background-size: 100% 100%;
  }

  &__periodEnd {
    @include periodPoint();
    background: url(../../Styles/assets/end-period.png) no-repeat;
    background-size: 100% 100%;
  }
}
