$primary-color: #bebec3;
$secondary-color: #2d3436;
$holiday-color: #f2412c;
$saturday-color: #4836d1;
$background-color: #000000;
$font-color: #ffffff;
$today-color: #00bc07;
$border-color: #444444;
$selected-font-color: #000000;